

	body, .form-control { background-color:pink;}
	.buttnContainer {margin: auto; padding: 20px;}
	.container {width: 100%;}
	.form-control {margin: auto; border: none;}
	.theImagesContainer {margin: auto; padding: 20px; width: 75%;
		font-size: 20px;border: 4px; background-color: purple; float: left;}
	h5 {text-align: center; font-size: 40px;}
	p {color: white;}
